*{
	box-sizing:border-box;
	padding:0;
}
h1{
	text-align:center;
}
@media(min-width:992px){
	.col_lg{
		width : 30%;
		float : left;
	}
}
@media (min-width:768px)and (max-width:991px){
	.col_md_1{
		width:90%;
		float : left;
	}
	.col_md_2{
		width:45%;
		float : left;
	}
}
@media (max-width:767px){
	.col_sm_3{
		width:100%;
		float:left;
	}
}
section{
	position:relative;
	background:#d3d3d3;
	border:1px solid black;
	margin:10px;
	padding:10px
}
section > h2{
	position:absolute;
	right:0;
	top:0;
	background:red;
	margin-top:0;
	border:1px solid black;
}
section > p{
	margin-top:50px;
}